.jumbotron{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:lightblue;
    text-shadow: 3px 3px 2px black;
}

#userInputs{
    padding: 10px;
    margin: 10px;
    background-color: beige;
    border-style: outset;
    border-radius: 15px;
}

#routeMap{
    padding: 10px;
    margin: 10px;
    background-color: burlywood;
    border-style: outset;
    border-radius: 15px;
    width: 70%
}

#weather{
    padding: 10px;
    margin: 10px;
    background-color: lightseagreen;
    border-style: outset;
    border-radius: 15px;
}

#textDirections{
    padding: 10px;
    margin: 10px;
    background-color:maroon;
    border-style: outset;
    border-radius: 15px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset;
    border-radius: 5px;
}